{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flexlm{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Flexlm License Servers</h1>
    <table style="width:60%">
      <thead>
	<tr>
	  <th style="width: 20%%;">Vendor</th>
	  <th style="width: 20%%;">Port</th>
	  <th style="width: 20%%;">Server</th>
	  <th style="width: 20%%;">Software</th>
	  <th style="width: 20%%;">Current Users</th>
	</tr>
      </thead>
      <tbody>
	{% for server in servers %}
	<tr>
	<td> {{ server.vendor }} </td>
	<td> {{ server.port }} </td>
	<td> {{ server.server }} </td>
	<td> {{ server.software }} </td>
	<td> <a href="{{ url_for('users', vendor=server.vendor) }}"> 
	    Detailed list</a> </td>
	{% endfor %}
	</tr>
      </tbody>
    </table>
</div>
{% endblock %}
