{% extends "base.html" %}

{% block navbaritems %}
{{ super() }}
<li>
  <a href="{{ url_for('chart', vendor=vendor) }}">
	   <i class="glyphicon glyphicon-signal"></i>&nbsp; Usage Chart</a>
</li>
<li> 
  <a href="{{ url_for('edit', vendor=vendor) }}"> 
    <i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Settings</a> 
</li>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>{{ vendor }} current users </h2>
    <h3>{{ moment(current_time).format('LLL' )}}</h3>
    <table style="width:100%">
      <thead>
	<tr>
	  <th style="width: 15%%;">User</th>
	  <th style="width: 15%%;">Computer</th>
	  <th style="width: 15%%;">Computer2</th>
	  <th style="width: 10%%;">Version</th>
	  <th style="width: 20%%;">Connection</th>
	  <th style="width: 25%%;">Start Time</th>
	</tr>
      </thead>
      <tbody>
	{% for user in users %}
	<tr>
	<td> {{ user.user }} </td>
	<td> {{ user.computer }} </td>
	<td> {{ user.computer2 }} </td>
	<td> {{ user.version }} </td>
	<td> {{ user.connection }} </td>
	<td> {{ user.start }} </td>
	{% endfor %}
	</tr>
      </tbody>
    </table>
</div>
{% endblock %}
